html {
    width: 100%;
    height: 100%;
}

body {
    background-image: url(https://images.moviesanywhere.com/metaTag/8510da4d77ae351a78908942e5dec42f.jpeg?r=16x9&w=2560);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: red;
    margin: 0%;
    padding: 0%;
}

@media (max-width: 1024px) {
    body {
        background-size: contain;
        /* Evita zoom excesivo */
        background-attachment: scroll;
        /* Soluciona el corte en m贸viles */
        background-position: center top;
        /* Ajusta mejor la visualizaci贸n */
        background-color: red;
        background-repeat: no-repeat;
    }
}


/*  ESTILO MARVEL STUDIOS */

.marvel-title-general {
    font-family: 'Impact', fantasy;
    font-size: 3em;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}


/*  ESTILO MARVEL LOGO */

.marvel-logo {
    color: #E62429;
    font-size: 1.2em;
    font-weight: 900;
    -webkit-text-stroke: 2px #000000;
    -webkit-text-fill-color: #E62429;
    text-shadow: 1px 1px 0 #FFC909, -1px -1px 0 #FFC909, 1px -1px 0 #FFC909, -1px 1px 0 #FFC909, 0 0 10px #FFC909, 0 0 20px #E62429;
    animation: marvel-pulse 2s infinite alternate;
    display: inline-block;
}


/*  Definici贸n de la animaci贸n */

@keyframes marvel-pulse {
    from {
        text-shadow: 0 0 10px #FFC909, 0 0 20px #E62429;
        transform: scale(1.0);
    }
    to {
        text-shadow: 0 0 15px #FFC909, 0 0 25px #E62429;
        transform: scale(1.02);
    }
}

.coment {
    font-family: Arial, Verdana;
    font-size: 30px;
    color: black;
}

#imagen-personaje {
    width: 350px;
    height: 200px;
    margin: 20px auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid #E62429;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#lista-personajes li {
    cursor: pointer;
    transition: color 0.2s;
}

#lista-personajes li:hover {
    color: #FFC909;
}

h1:hover {
    transform: skewY(-5deg);
    transform: rotate(3deg);
    cursor: pointer;
}

.Sans-Serif {
    font-family: Arial, Verdana;
    text-align: center;
    font-size: 20px;
    color: red;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.Armas {
    font-family: Arial, Verdana;
    font-size: 20px;
    color: red;
}

p {
    font-family: Arial, Verdana;
    font-size: 25px;
}

.Armas2 {
    font-family: Helvetica;
    font-size: 20px;
    color: white;
}

.Armas3 {
    font-family: Helvetica;
    font-size: 14px;
    color: white;
}

figcaption {
    font-size: 20px;
}

legend {
    font-family: Helvetica;
    font-size: 20px;
    color: black;
}

.hover-image-display {
    width: 300px;
    height: 200px;
    margin-top: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#Thor:hover~.hover-image-display {
    opacity: 1;
    background-image: url("https://i.ytimg.com/vi/FsaopM1uyLg/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLAIZAT81smpE4prRlAm6xtbELJmMg");
}

#La\ bruja\ escarlata:hover~.hover-image-display {
    opacity: 1;
    background-image: url("https://media.vandalsports.com/master/7-2022/202271815330_1.jpg");
}

#Doctor\ Strange:hover~.hover-image-display {
    opacity: 1;
    background-image: url("https://static.posters.cz/image/1300/fotomurales/marvel-doctor-strange-10900-i55654.jpg");
}

.hover-image-display-2 {
    width: 300px;
    height: 200px;
    margin-top: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.hover-image-display-3 {
    width: 300px;
    height: 200px;
    margin-top: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#Capitan\ America:hover~.hover-image-display-2 {
    opacity: 1;
    background-image: url("https://i.blogs.es/942126/captain-america-civil-war-chris-evans/840_560.jpeg");
}

#Iron\ Man:hover~.hover-image-display-2 {
    opacity: 1;
    background-image: url("https://hips.hearstapps.com/hmg-prod/images/iron-man-2008-1626678790.jpeg?crop=0.9389671361502346xw:1xh;center,top&resize=1200:*");
}

#Capitana\ Marvel:hover~.hover-image-display-2 {
    opacity: 1;
    background-image: url("https://estaticos-cdn.prensaiberica.es/clip/8a05263a-90e0-4521-ae3f-52ca54317472_16-9-discover-aspect-ratio_default_0.jpg");
}

#Deadpool:hover~.hover-image-display-3 {
    opacity: 1;
    background-image: url("https://wallpapers.com/images/featured/deadpool-tzhfez1w8ud2z8aw.jpg");
}

#Hulk:hover~.hover-image-display-3 {
    opacity: 1;
    background-image: url("https://fwcdn.pl/nph/1985708/2023/45861_1.8.jpg");
}

#Wolverine:hover~.hover-image-display-3 {
    opacity: 1;
    background-image: url("https://i0.wp.com/tomatazos.buscafs.com/2025/07/nuevo-wolverine-en-mcu.jpg?fit=1200,628&quality=75&strip=all");
}

#Spider\ Man:hover~.hover-image-display-3 {
    opacity: 1;
    background-image: url("https://i.ytimg.com/vi/8Z6RNjS_ZSY/sddefault.jpg");
}

#Thor:hover~.hover-image-display-3 {
    opacity: 1;
    background-image: url("https://media.vandalsports.com/i/640x360/11-2025/20251112154417_1.jpg");
}

#Iron\ Man:hover~.hover-image-display-3 {
    opacity: 1;
    background-image: url("https://hips.hearstapps.com/hmg-prod/images/iron-man-2008-1626678790.jpeg?crop=0.9389671361502346xw:1xh;center,top&resize=1200:*");
}

#Capitan\ America:hover~.hover-image-display-3 {
    opacity: 1;
    background-image: url("https://i.blogs.es/942126/captain-america-civil-war-chris-evans/840_560.jpeg");
}

.marvel {
    display: block;
    width: 300px;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, opacity 0.3s;
}

.marvel:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    opacity: 1;
    cursor: pointer;
}

.Habilidades {
    font-family: Arial, Verdana;
    font-size: 20px;
    color: red;
}

.lista {
    font-family: Arial, Verdana;
    font-size: 20px;
}

.espada {
    font-family: Arial, Verdana;
    font-size: 30px;
    color: red;
}

.list {
    font-family: Arial, Verdana;
    font-size: 20px;
}